<link rel="stylesheet" href="/resource/css/editormd.preview.min.css" />

<div class="detail">
  <div class="detail-left" style="width: 100%;">
    <div id="view-content" class="markdown-body editormd-html-preview">
      ${.article.Content}
    </div>
    <div class="gap-solid"></div>
    <div class="detail-action">
      <span>
        <i class="iconfont icon-riqi"></i>
        &nbsp;${dateDay .article.CreateAt}
      </span>
      <span>
        <i class="iconfont icon-yanjing"></i>
        &nbsp;${.article.ViewCount}
      </span>
      <span class="detail-edit">
        <i class="iconfont icon-wenbenshuru"></i>
        <a href="/writing?id=${.article.Pid}">编辑</a>
      </span>
      <span class="detail-edit detail-delete" pid="${.article.Pid}">
        <i class="iconfont icon-shanchu"></i>
        删除
      </span>
    </div>
  </div>
</div>
