<div class="container-left">${include "layout/personal.html" .}</div>
<div class="container-right">
  <ul>
    ${range $key,$value := .lines}
    <li class="pige-box">
      <h1 class="pige-month iconfont icon-wenjianjia">&nbsp;${$key}</h1>
      <ul class="pige-wrap">
        ${range $index,$elem := $value}
        <li class="pige-label">
          <span class="iconfont icon-riqi"
            >&nbsp;${dateDay $elem.CreateAt}</span
          >
          <a href="/p/${$elem.Pid}.html">${$elem.Title}</a>
        </li>
        ${end}
      </ul>
    </li>
    ${end}
  </ul>
</div>
