<header>
  <div class="header-wrap">
    <!-- logo -->
    <div class="header-left">
      <h1>
        <a href="/">
          ${if .Logo}
          <img src="" alt="${.Title}-LOGO" />
          ${else} ${.Title} ${end}
        </a>
      </h1>
      <!-- 导航 -->
      <ul class="header-nav">
        ${range $index,$elem := .Navigation} ${if isODD $index}
        <li><a href="${getNextName $.Navigation $index}">${$elem}</a></li>
        ${end} ${end}
      </ul>
    </div>
    <div class="header-right">
      <!-- <a class="login-action" href="/login">
        <button class="login-btn">登录</button>
      </a> -->
      <div class="login-end">
        <p class="iconfont icon-yonghu">JJXIE</p>
        <ul class="login-drop">
          <li><a href="/writing">写作</a></li>
          <li>退出登录</li>
        </ul>
      </div>
    </div>
  </div>
</header>
