<div class="personal">
  <div class="personal-box">
    <img class="personal-avatar" src="${.Avatar}" alt="${.UserName}">
    <h1 class="personal-name">${.UserName}</h1>
    <p class="personal-desc">${.UserDesc}</p>
    <span class="gap-dashed"></span>
    <ul class="personal-action">
      <li><a class="iconfont icon-github" href="${.Github}" target="_blank"> GitHub</a></li>
      <li><a class="iconfont icon-gitee2" href="${.Gitee}" target="_blank"> Gitee</a></li>
      <li><a class="iconfont icon-xinlangweibo" href="${.Weibo}" target="_blank"> 微博</a></li>
      <li><a class="iconfont icon-zhihu-circle" href="${.Zhihu}" target="_blank"> 知乎</a></li>
    </ul>
  </div>
  <span class="gap-solid"></span>
  <div class="personal-box">
    
    <ul>
      <li>分类</li>
    </ul>
  </div>
</div>